#infos {
  position: fixed;
  bottom: 2.5px;
  left: 2.5px; }

#share {
  position: fixed;
  top: 5px;
  left: 5px; }

#content {
  z-index: 2;
  width: 170px;
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: left top;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -o-transform-origin: left top;
  transform-origin: left top; }

#phone {
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateX(-85px) translateY(-180px);
  -moz-transform: translateX(-85px) translateY(-180px);
  -ms-transform: translateX(-85px) translateY(-180px);
  -o-transform: translateX(-85px) translateY(-180px);
  transform: translateX(-85px) translateY(-180px); }

#lentille {
  position: absolute;
  margin-top: 14px;
  margin-left: 69px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(1.5px);
  -moz-transform: translateZ(1.5px);
  -ms-transform: translateZ(1.5px);
  -o-transform: translateZ(1.5px);
  transform: translateZ(1.5px); }

#bouton {
  position: absolute;
  margin-top: 318px;
  margin-left: 69px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(1.5px);
  -moz-transform: translateZ(1.5px);
  -ms-transform: translateZ(1.5px);
  -o-transform: translateZ(1.5px);
  transform: translateZ(1.5px); }

#front {
  position: absolute;
  background-image: url("../img/front_360.png");
  width: 170px;
  height: 360px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

#phonescreen {
  border: none 0px black;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d; }

#screen {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

#screen.portrait {
  width: 160px;
  height: 284px;
  -webkit-transform: translateX(5px) translateY(38.5px) translateZ(0.5px) scale(0.9125);
  -moz-transform: translateX(5px) translateY(38.5px) translateZ(0.5px) scale(0.9125);
  -ms-transform: translateX(5px) translateY(38.5px) translateZ(0.5px) scale(0.9125);
  -o-transform: translateX(5px) translateY(38.5px) translateZ(0.5px) scale(0.9125);
  transform: translateX(5px) translateY(38.5px) translateZ(0.5px) scale(0.9125); }

#screen.landscape {
  width: 284px;
  height: 160px;
  -webkit-transform: translateX(-56px) translateY(200px) translateZ(0.5px) scale(0.9125);
  -moz-transform: translateX(-56px) translateY(200px) translateZ(0.5px) scale(0.9125);
  -ms-transform: translateX(-56px) translateY(200px) translateZ(0.5px) scale(0.9125);
  -o-transform: translateX(-56px) translateY(200px) translateZ(0.5px) scale(0.9125);
  transform: translateX(-56px) translateY(200px) translateZ(0.5px) scale(0.9125); }

.reflet {
  background-repeat: no-repeat;
  position: absolute;
  display: block;
  border-radius: 23.5px;
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  outline: 0.5px solid transparent; }

.reflet.portrait {
  left: 3px;
  top: 3px;
  width: 164px;
  height: 354px;
  background-image: url("../img/reflet_m.png"); }

.reflet.landscape {
  left: -92px;
  top: 98.5px;
  width: 354px;
  height: 164px;
  background-image: url("../img/reflet2.png"); }

#reflet.portrait {
  -webkit-transform: translateZ(1px);
  -moz-transform: translateZ(1px);
  -ms-transform: translateZ(1px);
  -o-transform: translateZ(1px);
  transform: translateZ(1px); }

#reflet.landscape {
  -webkit-transform: translateZ(1px) rotateZ(-90deg);
  -moz-transform: translateZ(1px) rotateZ(-90deg);
  -ms-transform: translateZ(1px) rotateZ(-90deg);
  -o-transform: translateZ(1px) rotateZ(-90deg);
  transform: translateZ(1px) rotateZ(-90deg); }

#refletBack.portrait {
  -webkit-transform: translateZ(0.5px);
  -moz-transform: translateZ(0.5px);
  -ms-transform: translateZ(0.5px);
  -o-transform: translateZ(0.5px);
  transform: translateZ(0.5px); }

#refletBack.landscape {
  -webkit-transform: translateZ(0.5px) rotateZ(90deg);
  -moz-transform: translateZ(0.5px) rotateZ(90deg);
  -ms-transform: translateZ(0.5px) rotateZ(90deg);
  -o-transform: translateZ(0.5px) rotateZ(90deg);
  transform: translateZ(0.5px) rotateZ(90deg); }

#back {
  position: absolute;
  -webkit-transform: rotateY(180deg) translateX(-170px) translateZ(20px);
  -moz-transform: rotateY(180deg) translateX(-170px) translateZ(20px);
  -ms-transform: rotateY(180deg) translateX(-170px) translateZ(20px);
  -o-transform: rotateY(180deg) translateX(-170px) translateZ(20px);
  transform: rotateY(180deg) translateX(-170px) translateZ(20px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

#background {
  position: absolute;
  background-color: #000;
  border-radius: 23.5px;
  width: 170px;
  height: 360px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

#backlentille {
  position: absolute;
  width: 170px;
  height: 360px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(1px);
  -moz-transform: translateZ(1px);
  -ms-transform: translateZ(1px);
  -o-transform: translateZ(1px);
  transform: translateZ(1px); }

.flatBorder {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.roundBorder {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-image: url("../img/iphoneside_m.png"); }

#borderRight {
  height: 20px;
  width: 310px;
  margin-top: 170px;
  margin-left: -155px;
  background-image: url("../img/iphoneright_m.png");
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: rotateY(-90deg) rotateZ(90deg) translateY(10px);
  -moz-transform: rotateY(-90deg) rotateZ(90deg) translateY(10px);
  -ms-transform: rotateY(-90deg) rotateZ(90deg) translateY(10px);
  -o-transform: rotateY(-90deg) rotateZ(90deg) translateY(10px);
  transform: rotateY(-90deg) rotateZ(90deg) translateY(10px); }

#borderLeft {
  height: 20px;
  width: 310px;
  margin-top: 170px;
  margin-left: 15px;
  background-image: url("../img/iphoneleft_m.png");
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: rotateY(90deg) rotateZ(-90deg) translateY(10px);
  -moz-transform: rotateY(90deg) rotateZ(-90deg) translateY(10px);
  -ms-transform: rotateY(90deg) rotateZ(-90deg) translateY(10px);
  -o-transform: rotateY(90deg) rotateZ(-90deg) translateY(10px);
  transform: rotateY(90deg) rotateZ(-90deg) translateY(10px); }

#borderBottom {
  margin-left: 25px;
  margin-top: 350px;
  width: 120px;
  height: 20px;
  background-image: url("../img/iphonebottom_m.png");
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: rotateX(-90deg) translateY(10px);
  -moz-transform: rotateX(-90deg) translateY(10px);
  -ms-transform: rotateX(-90deg) translateY(10px);
  -o-transform: rotateX(-90deg) translateY(10px);
  transform: rotateX(-90deg) translateY(10px); }

#borderTop {
  margin-left: 25px;
  margin-top: -10px;
  width: 120px;
  height: 20px;
  background-image: url("../img/iphonetop_m.png");
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: rotateX(90deg) translateY(-10px);
  -moz-transform: rotateX(90deg) translateY(-10px);
  -ms-transform: rotateX(90deg) translateY(-10px);
  -o-transform: rotateX(90deg) translateY(-10px);
  transform: rotateX(90deg) translateY(-10px); }

.corner {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d; }

#cornerTL {
  -webkit-transform: translateX(22px) translateY(25px) rotateX(90deg);
  -moz-transform: translateX(22px) translateY(25px) rotateX(90deg);
  -ms-transform: translateX(22px) translateY(25px) rotateX(90deg);
  -o-transform: translateX(22px) translateY(25px) rotateX(90deg);
  transform: translateX(22px) translateY(25px) rotateX(90deg); }

#cornerTR {
  -webkit-transform: translateX(141.5px) translateY(25px) rotateX(90deg);
  -moz-transform: translateX(141.5px) translateY(25px) rotateX(90deg);
  -ms-transform: translateX(141.5px) translateY(25px) rotateX(90deg);
  -o-transform: translateX(141.5px) translateY(25px) rotateX(90deg);
  transform: translateX(141.5px) translateY(25px) rotateX(90deg); }

#cornerBL {
  -webkit-transform: translateX(22px) translateY(335px) rotateX(90deg);
  -moz-transform: translateX(22px) translateY(335px) rotateX(90deg);
  -ms-transform: translateX(22px) translateY(335px) rotateX(90deg);
  -o-transform: translateX(22px) translateY(335px) rotateX(90deg);
  transform: translateX(22px) translateY(335px) rotateX(90deg); }

#cornerBR {
  -webkit-transform: translateX(141.5px) translateY(335px) rotateX(90deg);
  -moz-transform: translateX(141.5px) translateY(335px) rotateX(90deg);
  -ms-transform: translateX(141.5px) translateY(335px) rotateX(90deg);
  -o-transform: translateX(141.5px) translateY(335px) rotateX(90deg);
  transform: translateX(141.5px) translateY(335px) rotateX(90deg); }

#borderTL1 {
  width: 7px;
  height: 20px;
  -webkit-transform: rotateY(-7.5deg) translateZ(25px) translateY(-20px);
  -moz-transform: rotateY(-7.5deg) translateZ(25px) translateY(-20px);
  -ms-transform: rotateY(-7.5deg) translateZ(25px) translateY(-20px);
  -o-transform: rotateY(-7.5deg) translateZ(25px) translateY(-20px);
  transform: rotateY(-7.5deg) translateZ(25px) translateY(-20px); }

#borderTL2 {
  width: 7px;
  height: 20px;
  -webkit-transform: rotateY(-22.5deg) translateZ(25px) translateY(-20px);
  -moz-transform: rotateY(-22.5deg) translateZ(25px) translateY(-20px);
  -ms-transform: rotateY(-22.5deg) translateZ(25px) translateY(-20px);
  -o-transform: rotateY(-22.5deg) translateZ(25px) translateY(-20px);
  transform: rotateY(-22.5deg) translateZ(25px) translateY(-20px); }

#borderTL3 {
  width: 7px;
  height: 20px;
  -webkit-transform: rotateY(-37.5deg) translateZ(25px) translateY(-20px);
  -moz-transform: rotateY(-37.5deg) translateZ(25px) translateY(-20px);
  -ms-transform: rotateY(-37.5deg) translateZ(25px) translateY(-20px);
  -o-transform: rotateY(-37.5deg) translateZ(25px) translateY(-20px);
  transform: rotateY(-37.5deg) translateZ(25px) translateY(-20px); }

#borderTL4 {
  width: 7px;
  height: 20px;
  -webkit-transform: rotateY(-52.5deg) translateZ(25px) translateY(-20px);
  -moz-transform: rotateY(-52.5deg) translateZ(25px) translateY(-20px);
  -ms-transform: rotateY(-52.5deg) translateZ(25px) translateY(-20px);
  -o-transform: rotateY(-52.5deg) translateZ(25px) translateY(-20px);
  transform: rotateY(-52.5deg) translateZ(25px) translateY(-20px); }

#borderTL5 {
  width: 7px;
  height: 20px;
  -webkit-transform: rotateY(-67.5deg) translateZ(25px) translateY(-20px);
  -moz-transform: rotateY(-67.5deg) translateZ(25px) translateY(-20px);
  -ms-transform: rotateY(-67.5deg) translateZ(25px) translateY(-20px);
  -o-transform: rotateY(-67.5deg) translateZ(25px) translateY(-20px);
  transform: rotateY(-67.5deg) translateZ(25px) translateY(-20px); }

#borderTL6 {
  width: 7px;
  height: 20px;
  -webkit-transform: rotateY(-82.5deg) translateZ(25px) translateY(-20px);
  -moz-transform: rotateY(-82.5deg) translateZ(25px) translateY(-20px);
  -ms-transform: rotateY(-82.5deg) translateZ(25px) translateY(-20px);
  -o-transform: rotateY(-82.5deg) translateZ(25px) translateY(-20px);
  transform: rotateY(-82.5deg) translateZ(25px) translateY(-20px); }

#borderTR1 {
  width: 7px;
  height: 20px;
  -webkit-transform: rotateY(7.5deg) translateZ(25px) translateY(-20px);
  -moz-transform: rotateY(7.5deg) translateZ(25px) translateY(-20px);
  -ms-transform: rotateY(7.5deg) translateZ(25px) translateY(-20px);
  -o-transform: rotateY(7.5deg) translateZ(25px) translateY(-20px);
  transform: rotateY(7.5deg) translateZ(25px) translateY(-20px); }

#borderTR2 {
  width: 7px;
  height: 20px;
  -webkit-transform: rotateY(22.5deg) translateZ(25px) translateY(-20px);
  -moz-transform: rotateY(22.5deg) translateZ(25px) translateY(-20px);
  -ms-transform: rotateY(22.5deg) translateZ(25px) translateY(-20px);
  -o-transform: rotateY(22.5deg) translateZ(25px) translateY(-20px);
  transform: rotateY(22.5deg) translateZ(25px) translateY(-20px); }

#borderTR3 {
  width: 7px;
  height: 20px;
  -webkit-transform: rotateY(37.5deg) translateZ(25px) translateY(-20px);
  -moz-transform: rotateY(37.5deg) translateZ(25px) translateY(-20px);
  -ms-transform: rotateY(37.5deg) translateZ(25px) translateY(-20px);
  -o-transform: rotateY(37.5deg) translateZ(25px) translateY(-20px);
  transform: rotateY(37.5deg) translateZ(25px) translateY(-20px); }

#borderTR4 {
  width: 7px;
  height: 20px;
  -webkit-transform: rotateY(52.5deg) translateZ(25px) translateY(-20px);
  -moz-transform: rotateY(52.5deg) translateZ(25px) translateY(-20px);
  -ms-transform: rotateY(52.5deg) translateZ(25px) translateY(-20px);
  -o-transform: rotateY(52.5deg) translateZ(25px) translateY(-20px);
  transform: rotateY(52.5deg) translateZ(25px) translateY(-20px); }

#borderTR5 {
  width: 7px;
  height: 20px;
  -webkit-transform: rotateY(67.5deg) translateZ(25px) translateY(-20px);
  -moz-transform: rotateY(67.5deg) translateZ(25px) translateY(-20px);
  -ms-transform: rotateY(67.5deg) translateZ(25px) translateY(-20px);
  -o-transform: rotateY(67.5deg) translateZ(25px) translateY(-20px);
  transform: rotateY(67.5deg) translateZ(25px) translateY(-20px); }

#borderTR6 {
  width: 7px;
  height: 20px;
  -webkit-transform: rotateY(82.5deg) translateZ(25px) translateY(-20px);
  -moz-transform: rotateY(82.5deg) translateZ(25px) translateY(-20px);
  -ms-transform: rotateY(82.5deg) translateZ(25px) translateY(-20px);
  -o-transform: rotateY(82.5deg) translateZ(25px) translateY(-20px);
  transform: rotateY(82.5deg) translateZ(25px) translateY(-20px); }

#borderBL1 {
  width: 7px;
  height: 20px;
  -webkit-transform: rotateY(187.5deg) translateZ(25px) translateY(-20px);
  -moz-transform: rotateY(187.5deg) translateZ(25px) translateY(-20px);
  -ms-transform: rotateY(187.5deg) translateZ(25px) translateY(-20px);
  -o-transform: rotateY(187.5deg) translateZ(25px) translateY(-20px);
  transform: rotateY(187.5deg) translateZ(25px) translateY(-20px); }

#borderBL2 {
  width: 7px;
  height: 20px;
  -webkit-transform: rotateY(202.5deg) translateZ(25px) translateY(-20px);
  -moz-transform: rotateY(202.5deg) translateZ(25px) translateY(-20px);
  -ms-transform: rotateY(202.5deg) translateZ(25px) translateY(-20px);
  -o-transform: rotateY(202.5deg) translateZ(25px) translateY(-20px);
  transform: rotateY(202.5deg) translateZ(25px) translateY(-20px); }

#borderBL3 {
  width: 7px;
  height: 20px;
  -webkit-transform: rotateY(217.5deg) translateZ(25px) translateY(-20px);
  -moz-transform: rotateY(217.5deg) translateZ(25px) translateY(-20px);
  -ms-transform: rotateY(217.5deg) translateZ(25px) translateY(-20px);
  -o-transform: rotateY(217.5deg) translateZ(25px) translateY(-20px);
  transform: rotateY(217.5deg) translateZ(25px) translateY(-20px); }

#borderBL4 {
  width: 7px;
  height: 20px;
  -webkit-transform: rotateY(232.5deg) translateZ(25px) translateY(-20px);
  -moz-transform: rotateY(232.5deg) translateZ(25px) translateY(-20px);
  -ms-transform: rotateY(232.5deg) translateZ(25px) translateY(-20px);
  -o-transform: rotateY(232.5deg) translateZ(25px) translateY(-20px);
  transform: rotateY(232.5deg) translateZ(25px) translateY(-20px); }

#borderBL5 {
  width: 7px;
  height: 20px;
  -webkit-transform: rotateY(247.5deg) translateZ(25px) translateY(-20px);
  -moz-transform: rotateY(247.5deg) translateZ(25px) translateY(-20px);
  -ms-transform: rotateY(247.5deg) translateZ(25px) translateY(-20px);
  -o-transform: rotateY(247.5deg) translateZ(25px) translateY(-20px);
  transform: rotateY(247.5deg) translateZ(25px) translateY(-20px); }

#borderBL6 {
  width: 7px;
  height: 20px;
  -webkit-transform: rotateY(262.5deg) translateZ(25px) translateY(-20px);
  -moz-transform: rotateY(262.5deg) translateZ(25px) translateY(-20px);
  -ms-transform: rotateY(262.5deg) translateZ(25px) translateY(-20px);
  -o-transform: rotateY(262.5deg) translateZ(25px) translateY(-20px);
  transform: rotateY(262.5deg) translateZ(25px) translateY(-20px); }

#borderBR1 {
  width: 7px;
  height: 20px;
  -webkit-transform: rotateY(172.5deg) translateZ(25px) translateY(-20px);
  -moz-transform: rotateY(172.5deg) translateZ(25px) translateY(-20px);
  -ms-transform: rotateY(172.5deg) translateZ(25px) translateY(-20px);
  -o-transform: rotateY(172.5deg) translateZ(25px) translateY(-20px);
  transform: rotateY(172.5deg) translateZ(25px) translateY(-20px); }

#borderBR2 {
  width: 7px;
  height: 20px;
  -webkit-transform: rotateY(157.5deg) translateZ(25px) translateY(-20px);
  -moz-transform: rotateY(157.5deg) translateZ(25px) translateY(-20px);
  -ms-transform: rotateY(157.5deg) translateZ(25px) translateY(-20px);
  -o-transform: rotateY(157.5deg) translateZ(25px) translateY(-20px);
  transform: rotateY(157.5deg) translateZ(25px) translateY(-20px); }

#borderBR3 {
  width: 7px;
  height: 20px;
  -webkit-transform: rotateY(142.5deg) translateZ(25px) translateY(-20px);
  -moz-transform: rotateY(142.5deg) translateZ(25px) translateY(-20px);
  -ms-transform: rotateY(142.5deg) translateZ(25px) translateY(-20px);
  -o-transform: rotateY(142.5deg) translateZ(25px) translateY(-20px);
  transform: rotateY(142.5deg) translateZ(25px) translateY(-20px); }

#borderBR4 {
  width: 7px;
  height: 20px;
  -webkit-transform: rotateY(127.5deg) translateZ(25px) translateY(-20px);
  -moz-transform: rotateY(127.5deg) translateZ(25px) translateY(-20px);
  -ms-transform: rotateY(127.5deg) translateZ(25px) translateY(-20px);
  -o-transform: rotateY(127.5deg) translateZ(25px) translateY(-20px);
  transform: rotateY(127.5deg) translateZ(25px) translateY(-20px); }

#borderBR5 {
  width: 7px;
  height: 20px;
  -webkit-transform: rotateY(112.5deg) translateZ(25px) translateY(-20px);
  -moz-transform: rotateY(112.5deg) translateZ(25px) translateY(-20px);
  -ms-transform: rotateY(112.5deg) translateZ(25px) translateY(-20px);
  -o-transform: rotateY(112.5deg) translateZ(25px) translateY(-20px);
  transform: rotateY(112.5deg) translateZ(25px) translateY(-20px); }

#borderBR6 {
  width: 7px;
  height: 20px;
  -webkit-transform: rotateY(97.5deg) translateZ(25px) translateY(-20px);
  -moz-transform: rotateY(97.5deg) translateZ(25px) translateY(-20px);
  -ms-transform: rotateY(97.5deg) translateZ(25px) translateY(-20px);
  -o-transform: rotateY(97.5deg) translateZ(25px) translateY(-20px);
  transform: rotateY(97.5deg) translateZ(25px) translateY(-20px); }
