.app-form {
  margin: 0;
  background: white;
  width: 100%;
  margin: 0 auto;
  padding: 0px;
  @include border-radius(10px);
  text-align: center;

  @include respond-to(medium) {
    max-width: 450px;
    margin: 0;
  }

  .success-msg {
    color: black;
    padding: 20px;

    i {
      color: rgb(0, 165, 0);
      font-size: 40px;
    }

    h1 {
      font-size: 26px;
    }

    h2 {
      font-size: 20px;
    }

    a {
      font-size: 16px;
      text-decoration: none;
      color: #B11116;
    }
  }

  form {
    display: grid;
    width: 100%;

    .error {
      // padding-top: 10px;
      width: 100%;
      align-items: flex-start;
      text-align: left;
      font-size: 14px;
      font-weight: 700;
      color: red;
      height: max-content;

      > div {
        margin: 5px 0px;
      }
    }

    :host ::ng-deep .mat-input-placeholder {
      color: #5d5d5d;
    }
    :host ::ng-deep input.md-input-element {
      color: #5d5d5d;
    }

    .mat-form-field-invalid .mat-input-element,
    .mat-warn .mat-input-element {
      caret-color: #5d5d5d;
    }

    mat-form-field {
      color: #5d5d5d;
      border: 1px solid #c1c1c1;
      border-radius: 5px;
      // margin-bottom: 10px;

      &.ng-invalid.ng-touched.ng-dirty {
        color: #f44336;
        // margin-bottom: 32px;

        mat-label {
          color: #f44336;
        }

        input {
          caret-color: #f44336;
        }
      }

      &.mat-form-field-type-mat-select.ng-invalid.ng-touched {
        color: #f44336;
        // margin-bottom: 32px;

        mat-label {
          color: #f44336;
        }
      }

      &.mat-form-field-invalid.ng-untouched.ng-pristine {
        color: #f44336;
        // margin-bottom: 32px;

        mat-label {
          color: #f44336;
        }
      }

      mat-label {
        color: #a0a0a0;
      }

      .mat-form-field-wrapper {
        padding: 0;

        .mat-form-field-flex {
          background: white;
          border-radius: 5px;
          padding: .2em .75em 0 .75em;
          border: 0px;
          min-height: 40px;

          .mat-form-field-infix {
            padding: .25em 0 .2em 0;
            min-height: 40px;

            input {
              // padding-left: 0.5em;
              //font-weight: bold;
              height: 18px;
            }
          }
        }

        .mat-form-field-underline {
          display: none;
        }
        .mat-form-field-subscript-wrapper {
          display: none;
        }
      }
    }
  }
}

.disabled{
  .mat-form-field-flex{
    background: #ebebeb;
    border-radius: 5px;
      input{
      color: #808080 !important
    }
  }
}